<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Key Manager</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="header">
        <h1>Micro-Focus Inc.</h1>
    </div>
    <div class="container">
        <h2>Login to Access Key Manager</h2>
        <form action="login.html" method="POST">
            <label for="email">Email:</label>
            <input class="input-box" type="text" id="email" name="email" required>
            <label for="password">Password:</label>
            <input class="input-box" type="password" id="password" name="password" required>
            <button type="submit" class="btn">Login</button>
        </form>
        <p class="signup-link">Don't have an account? <a href="signup.html">Sign Up</a></p>
</body>
</html>