{% extends "layout.html" %}

{% block title %}
Log in
{% endblock %}

{% block content %}
<div class="header">
    <h1>Micro-Focus Inc.</h1>
</div>
<div class="container">
    <h2>Login to Access Key Manager</h2>
    <form action="login.html" method="POST">
        <label for="email">Email:</label>
        <input class="input-box" type="text" id="email" name="email" required>
        <label for="password">Password:</label>
        <input class="input-box" type="password" id="password" name="password" required>
        <button type="submit" class="btn">Login</button>
    </form>
    <p class="signup-link">Don't have an account? <a href= {% url "signup" %}>Sign Up</a></p>
{% endblock %}